body{
    background-color: rgb(65, 61, 61);
    margin: 0px;
    padding: 0px;
    background-image: url(img/ilustrasi-pohon-natal-raksasa_169.jpeg);
    background-size: cover;
   
}
.container{
    text-align: center;
    position: relative;
  
   
    

}
aside{
    background-color: greenyellow;
    width: 50px;
    margin: 0;
    padding: 0;

}
p{
    text-align: center;
    margin: 0;
}
header{
    background-color: red;
    height: 10px;
}
nav{
    color: aliceblue;
    background-color: rgb(231, 60, 60);
    margin: 0px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    height: 50px;
    padding: auto;
    padding-top: 20px;
    
}
a{
    font-family: fantasy;
   color: rgb(0, 136, 255);
   text-align: center; 
   border: auto;
   border-radius: 20px;
   background-color: rgb(255, 255, 255);
}
h2{
    color: red;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    margin: -5px;
}
#tombol{
    transition: all 0.5s ease;
    border-radius: 0;

}

.blur {
    filter: blur(5px);
    transform: scale(1.1);
    color: red;
}
.halaman-text {
    text-align: center;
    
}
footer {
    background-color: rgb(255, 7, 7);
    color: aliceblue;
    bottom: 0px;
    position: fixed;
    width: 100%;

    
}
.gambar1 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;

}
.gambar2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    z-index: 2;
}
.lapisangambar{
    background-color: red;
    width: 0;
}
img{
    text-align: center;
}
audio{
    margin-top: 10px;
}
div{
    margin: 0;
}